quarkus:
  datasource:
    db-kind: postgresql
    active: true
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    jdbc:
      driver: org.postgresql.Driver
      url: jdbc:postgresql://${POSTGRES_URL:postgres:5432}/engine_checkpoints_db?reWriteBatchedInserts=true
      min-size: ${PG_MIN_IDLE:0}
      max-size: ${PG_MAX_POOL_SIZE:30}
      idle-removal-interval: ${PG_IDLE_TIMEOUT:5M}
      leak-detection-interval: ${PG_LEAK_DETECTION_INTERVAL:30000}
    configs:
      db-kind: postgresql
      active: true
      username: ${POSTGRES_USER:postgres}
      password: ${POSTGRES_PASSWORD:postgres}
      jdbc:
        driver: org.postgresql.Driver
        url: jdbc:postgresql://${POSTGRES_URL:postgres:5432}/engine_qrtz_db
        min-size: ${PG_MIN_IDLE:0}
        max-size: ${PG_MAX_POOL_SIZE:30}
        idle-removal-interval: ${PG_IDLE_TIMEOUT:5M}
        leak-detection-interval: ${PG_LEAK_DETECTION_INTERVAL:30000}
  flyway:
    enabled: true
    schemas: engine
    default-schema: engine
    locations: 'classpath:db/migration/postgresql/static'
    baseline-on-migrate: true
    create-schemas: true
    out-of-order: true
    ignore-migration-patterns: '*:future,*:missing'
    validate-on-migrate: true
    active: true
    migrate-at-start: true
    configs:
      schemas: engine
      default-schema: engine
      locations: 'classpath:db/migration/postgresql/configs'
      baseline-on-migrate: true
      create-schemas: true
      out-of-order: true
      ignore-migration-patterns: '*:future,*:missing'
      active: true
      migrate-at-start: true
  quartz:
    instance-name: quartz-scheduler
    clustered: true
    store-type: JDBC_TX
    datasource: configs
    table-prefix: engine.QRTZ_
    misfire-threshold: 15S
    thread-count: 10
