application:
  prefix: qip
  name: ${MICROSERVICE_NAME:qip-engine}
  cloud_service_name: ${application.name}-${application.deployment_version}
  deployment_version: ${DEPLOYMENT_VERSION:v1}
  namespace: ${NAMESPACE:local}
  default_integration_domain_microservice_name: qip-engine # custom param
  default_integration_domain_name: default # custom param

security:
  role-prefix: 'ROLE_'

consul:
  url: ${CONSUL_URL:http://consul:8500}
  token: ${CONSUL_ADMIN_TOKEN}
  keys:
    prefix: config/${NAMESPACE}
    engine-config-root: /${application.prefix}-engine-configurations
    deployments-update: /deployments-update
    libraries-update: /libraries-update
    engines-state: /engines-state
    runtime-configurations: /runtime-configurations
    chains: /chains
    common-variables-v2: /variables/common
  dynamic-state-keys:
    enabled: ${DYNAMIC_ENGINE_CONSUL_STATE_ENABLED:false}

camel:
  trace:
    enabled: ${TRACING_ENABLED:false}
  debug:
    enabled: true
  main:
    name: Camel Context
    autoStartup: false
    messageHistory: true
    streamCachingEnabled: true # enable exchange payload spooling
    streamCachingBufferSize: 16384
    globalOptions:
      CamelJacksonEnableTypeConverter: true
      CamelJacksonTypeConverterToPojo: true
      inflightRepositoryBrowseEnabled: true
  component:
    kafka: # new parameters will not be automatically set to 'kafka-custom' element, need to change KafkaCustomComponentConfiguration
      ssl-truststore-location: ${qip.local-truststore.store.path}
      ssl-truststore-password: ${qip.local-truststore.store.password}
      ssl-truststore-type: JKS
    servlet:
      http-registry: '#gatewayHttpRegistry'
  servlet:
    mapping:
      enabled: false
  constants:
    request-filter-header:
      name: 'requestFilterHeaderAllowlist'

qip:
  camel:
    routes-prefix: /routes
    stream-caching:
      enabled: true # enable exchange payload spooling
      buffer:
        size-kb: 16
    component:
      quartz:
        thread-pool-count: 10
      kafka:
        predeploy-check-enabled: ${CAMEL_KAFKA_PREDEPLOY_CHECK_ENABLED:true}
      rabbitmq:
        predeploy-check-enabled: ${CAMEL_AMQP_PREDEPLOY_CHECK_ENABLED:true}
  deployments:
    retry-delay: 30s
    thread-pool:
      core-size: 3
      max-size: 3
  context-service:
    cleanup:
      cron: ${CONTEXT_RECORDS_CLEANUP_CRON:0 0 0 ? * SAT} #  Cleanup task schedule in cron expression format
  opensearch:
    client:
      urls: ${OPENSEARCH_PROTOCOL:http}://${OPENSEARCH_HOST:opensearch}:${OPENSEARCH_PORT:9200}
      host: ${OPENSEARCH_HOST:opensearch}
      port: ${OPENSEARCH_PORT:9200}
      protocol: ${OPENSEARCH_PROTOCOL:http}
      user-name: ${OPENSEARCH_USERNAME:}
      password: ${OPENSEARCH_PASSWORD:}
      prefix: ${OPENSEARCH_PREFIX:}
    write:
      batch:
        count: 100
      retry:
        timeout:
          minimum: 100
          maximum: 300000
    index:
      elements:
        name: qip-elements-${application.namespace}
        shards: ${OPENSEARCH_INDEX_SHARDS:3}
    rollover:
      min_index_age: 1d
      min_index_size: ${OPENSEARCH_ROLLOVER_MIN_INDEX_SIZE:}
      min_rollover_age_to_delete: 14d
  metrics:
    enabled: ${MONITORING_ENABLED:false}
    http-payload-metrics:
      enabled: true
      buckets: 1, 10, 100, 1000
    prometheus:
      # Delay in seconds between init and update new metric (Counter)
      init:
        delay: 30
  mapper:
    cache-enabled: ${MAPPER_CACHE_ENABLED:true}
  # sessions writer performance parameters
  sessions:
    sampler:
      probabilistic: ${SESSION_SAMPLER_PROBABILISTIC:1}
    queue:
      max-size-mb: 128
      capacity: 10000
    bulk-request:
      max-size-kb: 4096
      payload-size-threshold-kb: ${qip.sessions.bulk-request.max-size-kb}
      elements-count-threshold: 2
    checkpoints:
      cleanup:
        interval: ${SESSIONS_CHECKPOINTS_CLEANUP_INTERVAL:1 month} # logs older than interval will be deleted, for example: '1 hour', '7 days', '2 years 3 month'
        cron: ${SESSIONS_CHECKPOINTS_CLEANUP_CRON:0 0 0 ? * SAT} #  Cleanup task schedule in cron expression format

  local-truststore:
    store:
      path: /tmp/truststore/defaulttruststore.jks
      password: ""
    certs:
      location: :/tmp/cert/${SSL_SECRET:defaultsslcertificate}
  production-mode:
    enabled: ${PRODUCTION_MODE:false}
  internal-services:
    runtime-catalog:
      url: ${RUNTIME_CATALOG_SERVICE_URL:http://runtime-catalog:8080}
  restclient:
    timeout: 300000
  idempotency:
    expired-records-cleanup-cron: ${IDEMPOTENCY_RECORDS_CLEANUP_CRON:0 */5 * ? * *}

kubernetes:
  devmode: ${KUBE_DEV_MODE:false}
  cluster:
    uri: ${KUBE_CLUSTER_URI:https://kubernetes.default}
    namespace: ${NAMESPACE:}
    token: ${KUBE_USER_TOKEN:}
  service-account:
    token-file-path: ${KUBE_TOKEN_PATH:/var/run/secrets/kubernetes.io/serviceaccount/token}
    cert: ${KUBE_CERT_PATH:/var/run/secrets/kubernetes.io/serviceaccount/ca.crt}
  variables-secret:
    name: ${application.prefix}-secured-variables-v2
    label: ${application.prefix}-variable-type

quarkus:
  application:
    name: ${application.name}
  log:
    level: INFO
    console:
      level: INFO
      format: "[%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%-7p] [request_id=%-15X{requestId}] [thread=%-15.15t] [class=%-60.60c{59}] [traceId=%-16X{X-B3-TraceId}] [spanId=%-16X{X-B3-SpanId}] [method=%-30.30M]  - %m%n"
      filter: camel-job-filter
    category:
      "org.qubership.integration.platform.engine.service.debugger.logging.ChainLogger":
        level: INFO
  http:
    host: 0.0.0.0
    port: 8080
  rest-client:
    checkpoints:
      url: "http://localhost:8080${qip.camel.routes-prefix}"
      scope: jakarta.inject.Singleton
    runtime-catalog:
      url: ${RUNTIME_CATALOG_SERVICE_URL:http://runtime-catalog:8080}
      scope: jakarta.inject.Singleton
      connect-timeout: 300000
      read-timeout: 300000
    consul:
      url: ${CONSUL_URL:http://consul:8500}
      scope: jakarta.inject.Singleton
      connect-timeout: 25000
      read-timeout: 25000
  consul-config:
    prefix: config/${NAMESPACE}
    agent:
      host-port: ${CONSUL_URL:consul:8500}
      use-https: false
      token: ${CONSUL_ADMIN_TOKEN}
  datasource:
    checkpoints:
      db-kind: postgresql
      active: true
      username: ${POSTGRES_USER:postgres}
      password: ${POSTGRES_PASSWORD:postgres}
      jdbc:
        driver: org.postgresql.Driver
        url: jdbc:postgresql://${POSTGRES_URL:postgres:5432}/engine_checkpoints_db?reWriteBatchedInserts=true
        min-size: ${PG_MIN_IDLE:0}
        max-size: ${PG_MAX_POOL_SIZE:30}
        idle-removal-interval: ${PG_IDLE_TIMEOUT:5M}
        leak-detection-interval: ${PG_LEAK_DETECTION_INTERVAL:30000}
    quartz:
      db-kind: postgresql
      active: true
      username: ${POSTGRES_USER:postgres}
      password: ${POSTGRES_PASSWORD:postgres}
      jdbc:
        driver: org.postgresql.Driver
        url: jdbc:postgresql://${POSTGRES_URL:postgres:5432}/engine_qrtz_db
        min-size: ${PG_MIN_IDLE:0}
        max-size: ${PG_MAX_POOL_SIZE:30}
        idle-removal-interval: ${PG_IDLE_TIMEOUT:5M}
        leak-detection-interval: ${PG_LEAK_DETECTION_INTERVAL:30000}
  flyway:
    enabled: true
    checkpoints:
      schemas: engine
      default-schema: engine
      locations: 'classpath:db/migration/postgresql/static'
      baseline-on-migrate: true
      create-schemas: true
      out-of-order: true
      ignore-migration-patterns: '*:future,*:missing'
      validate-on-migrate: true
      active: true
      migrate-at-start: true
    quartz:
      schemas: engine
      default-schema: engine
      locations: 'classpath:db/migration/postgresql/configs'
      baseline-on-migrate: true
      create-schemas: true
      out-of-order: true
      ignore-migration-patterns: '*:future,*:missing'
      active: true
      migrate-at-start: true
  hibernate-orm:
    checkpoints:
      datasource: checkpoints
      dialect: org.hibernate.dialect.PostgreSQLDialect
      packages: org.qubership.integration.platform.engine.persistence.shared.entity
      physical-naming-strategy: io.hypersistence.utils.hibernate.naming.CamelCaseToSnakeCaseNamingStrategy
      database:
        generation:
          create-schemas: false
        default-schema: engine
      jdbc:
        timezone: UTC
        statement-batch-size: 30
      unsupported-properties:
        "hibernate.order_inserts": true
        "hibernate.order_updates": true
        "hibernate.jdbc.lob.non_contextual_creation": true
        "hibernate.temp.use_jdbc_metadata_defaults": false # disable connection during init
    quartz:
      datasource: quartz
      dialect: org.hibernate.dialect.PostgreSQLDialect
      packages: org.qubership.integration.platform.engine.persistence.configs.entity
      physical-naming-strategy: io.hypersistence.utils.hibernate.naming.CamelCaseToSnakeCaseNamingStrategy
      database:
        generation:
          create-schemas: false
        default-schema: engine
      jdbc:
        timezone: UTC
        statement-batch-size: 30
      unsupported-properties:
        "hibernate.order_inserts": true
        "hibernate.order_updates": true
        "hibernate.jdbc.lob.non_contextual_creation": true
        "hibernate.temp.use_jdbc_metadata_defaults": false # disable connection during init
  smallrye-openapi:
    enable: true
  camel:
    servlet:
      servlet-name: CamelServlet
      servlet-class: org.qubership.integration.platform.engine.camel.components.servlet.CustomCamelHttpTransportServlet
      url-patterns:
        - "${qip.camel.routes-prefix}/*"
    debug:
      enabled: true
    trace:
      enabled: ${TRACING_ENABLED:false}
  quartz:
    clustered: true
    store-type: jdbc-tx
    datasource: quartz
    table-prefix: engine.QRTZ_
    misfire-threshold: 15S
    thread-count: 10
  otel:
    propagators: b3multi
    service:
      name: ${application.name}-${NAMESPACE:local}
    enabled: true
    exporter:
      otlp:
        protocol: http/protobuf
        endpoint: http://${TRACING_HOST:nc-diagnostic-agent}:4318
    traces:
      enabled: ${TRACING_ENABLED:false}
      sampler:
        name: traceidratio
        arg: ${TRACING_SAMPLER_PROBABILISTIC:0.01}
    metrics:
      enabled: false
    logs:
      enabled: false
  micrometer:
    export:
      prometheus:
        path: /metrics
